body {
  font-family: sans-serif;
  margin: 20px;
  line-height: 1.6;
}

button {
  margin-left: 5px;
  cursor: pointer;
}

form {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
}

input {
  padding: 5px;
}